# **Projeto Individual - Modulo 5**

Com o nosso Parceiro de Negócios de Recursos Humanos (HRBP), este projeto tem como objetivo entender o que está causando o atrito – pessoas deixando a empresa – em toda a organização de marketing e apresentar suas descobertas.

**Listando alguns pontos que abordaremos nesse relatório, temos:**

- Analisar e explicar os gráficos apresentados trazendo insights necessários para resolver o problema proposto.
- O que não é ideal nos gráficos apresentados e o que poderia ser evitados nas visualizações.
- Criar maneiras diferentes de vizualizar o gráfico, para um possível melhor entendimento utilizando o **Tableau**.
- Criar um storytelling para os dados apresentados mostrando o contexto da história.

### **1. Coletando dados**

Os dados a seguir foram fornecidos pelo próprio HRBP. Logo abaixo iremos fazer a coleta desses dados e ter uma visão geral do DataSet.

In [34]:
#Importando a biblioteca numpy e pandas para a manipulação dos dados
import numpy as np
import pandas as pd
import os

In [24]:
#Coleta dos dados
data = pd.read_excel("./data/dados.xlsx")
data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,NaN,Dados,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Ability to impact,HRBP,Exit survey
4,NaN,Training,11,31,23
5,NaN,Conflict with others,10,11,15
6,NaN,Lack of recognition,9,65,44
7,NaN,Workload,8,14,39
8,NaN,Career advancement,7,137,171
9,NaN,Pay,6,16,24
10,NaN,Type of work,5,128,78
11,NaN,Career change,4,18,30
12,NaN,Commute,3,31,22
13,NaN,Relocation,2,105,37
14,NaN,Illness,1,9,21

### **2. Tratamento de dados**

Ao observar pela primeira vez o DataSet fornecido pelo HRBP, podemos perceber que há alguns erros que atrapalharia nossas análises. Abaixo vamos fazer o tratamento desses dados

##### **2.1. Retirando valores nulos**

In [25]:
#Apagando coluna "Unnamed: 0" pois só contém valores NaN
data = data.drop('Unnamed: 0', axis=1)
data

              Unnamed: 1         Unnamed: 2 Unnamed: 3   Unnamed: 4
0                    NaN                NaN        NaN          NaN
1                  Dados                NaN        NaN          NaN
2                    NaN                NaN        NaN          NaN
3                    NaN  Ability to impact       HRBP  Exit survey
4               Training                 11         31           23
5   Conflict with others                 10         11           15
6    Lack of recognition                  9         65           44
7               Workload                  8         14           39
8     Career advancement                  7        137          171
9                    Pay                  6         16           24
10          Type of work                  5        128           78
11         Career change                  4         18           30
12               Commute                  3         31           22
13            Relocation                  2        105           37
14               Illness                  1          9           21

In [26]:
#Apagando as linhas de index 0, 1, 2 e 3
data = data.drop([0,1,2,3])
data

              Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
4               Training         11         31         23
5   Conflict with others         10         11         15
6    Lack of recognition          9         65         44
7               Workload          8         14         39
8     Career advancement          7        137        171
9                    Pay          6         16         24
10          Type of work          5        128         78
11         Career change          4         18         30
12               Commute          3         31         22
13            Relocation          2        105         37
14               Illness          1          9         21

In [27]:
#Reindexando indices
data = data.reset_index(drop=True)
data

              Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
0               Training         11         31         23
1   Conflict with others         10         11         15
2    Lack of recognition          9         65         44
3               Workload          8         14         39
4     Career advancement          7        137        171
5                    Pay          6         16         24
6           Type of work          5        128         78
7          Career change          4         18         30
8                Commute          3         31         22
9             Relocation          2        105         37
10               Illness          1          9         21

##### **2.1. Renomeando colunas**

In [28]:
#Renomeando nome das váriaveis
data.rename( 
    columns={
        'Unnamed: 1': 'Razoes para saida',
        'Unnamed: 2': 'Impacto',
        'Unnamed: 3': 'HRBP',
        'Unnamed: 4': 'Pesquisa de saida',
    }, inplace=True
)
data

       Razoes para saida Impacto HRBP Pesquisa de saida
0               Training      11   31                23
1   Conflict with others      10   11                15
2    Lack of recognition       9   65                44
3               Workload       8   14                39
4     Career advancement       7  137               171
5                    Pay       6   16                24
6           Type of work       5  128                78
7          Career change       4   18                30
8                Commute       3   31                22
9             Relocation       2  105                37
10               Illness       1    9                21

In [30]:
#Traduzindo os valores da coluna "Razoes para saida" para português
razoes_de_saida_traducao = {
    'Training': 'Treinamento',
    'Conflict with others': 'Conflito com outros',
    'Lack of recognition': 'Falta de reconhecimento',
    'Workload': 'Carga de trabalho',
    'Career advancement': 'Progressao de carreira',
    'Pay': 'Remuneracao',
    'Type of work': 'Tipo de trabalho',
    'Career change': 'Mudança de carreira',
    'Commute': 'Trajeto',
    'Relocation': 'Realocação',
    'Illness': 'Doença'
}

data['Razoes para saida'] = data['Razoes para saida'].replace(razoes_de_saida_traducao)

data

          Razoes para saida Impacto HRBP Pesquisa de saida
0               Treinamento      11   31                23
1       Conflito com outros      10   11                15
2   Falta de reconhecimento       9   65                44
3         Carga de trabalho       8   14                39
4    Progressao de carreira       7  137               171
5               Remuneracao       6   16                24
6          Tipo de trabalho       5  128                78
7       Mudança de carreira       4   18                30
8                   Trajeto       3   31                22
9                Realocação       2  105                37
10                   Doença       1    9                21

In [45]:
#especificando o caminho da pasta a ser salva o dataset limpo 
pasta_destino = './data/'
nome_arquivo = os.path.join(pasta_destino, 'data_clean.xlsx')
data.to_excel(nome_arquivo, index=False)

Com as váriaveis renomeadas e traduzidas, e os valores nulos retirados do nosso DataSet, agora podemos fazer nossas análises e gráficos com mais facilidade com um novo arquivo .xlsx.

### **3. Analisando os dados**

Abaixo teremos o gráfico enviado pelo HRBP. Faremos uma análise e responder algumas perguntas.

<center><img alt="Logo anp" width="40%" src="./img/grafico-RBP.png"></center>

- ##### **Como podemos explicar esse gráfico?**

O gráfico acima se trata das **Razões de saída** de colaboradores da empresa de acordo com as pesquisas do próprio HRBP e pesquisas realizadas anonimamente. De acordo com as cores temos os motivos de saída como por exemplo: Treinamento, Salário, Doenças, etc. No eixo horizontal temos a frequência do total de respostas para cada razão de sáida. No eixo vertical temos o impacto que essa razão de saída tem, ou seja, quanto maior o valor mais essa razão de saída tem impacto na decisão do funcionário. 

Existem algumas coisas em comun de acordo com as duas pesquisas realizadas. Podemos pontuar algumas conclusões:

1. A falta de progressão de carreira tem um impacto significativo e uma alta frequência de colaboradores que realizaram as duas pesquisas. Isso sugere que muitos funcionários estão saindo da empresa devido à falta de oportunidades ou um plano de carreira não definido. Isso pode ser um problema a ser levado em consideração.

2. A falta de reconhecimento também possui uma alta pontuação de impacto na decisão de saída do funcionário, e valores de frequência relativamente altos nas duas pesquisas. Isso indica que a empresa precisa melhorar o sistema de reconhecimento e recompensa para reter possíveis talentos.

3. Os conflitos com outros embora não seja a razão mais comum para a saída da empresa tem um impacto significativo, mas obteve uma baixa frequência nas pesquisas de saída.

4. A falta de treinamento tem o maior impacto na saída dos funcionários e uma frequência considerável de colaboradores. Algo que pode ser levado em consideração é investir em treinamento dos colaboradores para evitar esse alto impacto na saída da empresa.

- ##### **Quais observações podemos fazer apartir desses dados?**

Com as análises do gráfico acima podemos concluir que:

1. As maiores razões para a saída da empresa são: Progressão de carreira e tipo de trabalho. Ambos com impacto mediano de 5 e 7 respectivamente. Sendo a maior delas nas duas pesquisas a falta de Progressão de carreira sendo a mais frequente.

2. As razões que tem o maior impacto na decisão do colaborador são: Treinamento e conflitos com outros. Essas razões tem uma frequência não muito significativa quando comparado as razões de saída mencionadas no tópico anterior.

- ##### **O que não é ideal ou poderia ser evitado na visualização em sua forma atual?**

Ao analisar o gráfico, podemos citar alguns pontos de melhoria e o que não é ideal nessa visualização, além de perguntas que gostaria de saber sobre ele.

1. Existem muitas cores para cada razão de saída, dificultando a visualização.

2. Quando uma razão de saída tem frequência semelhante, não conseguimos diferenciar muito bem qual tamanho é maior ou menor.

3. **Pergunta:** Quais outros gráficos foram testados antes implementar de fato essa visualização?

4. **Pergunta:** As linhas horizontal e vertical dentro do gráfico representam oque? São as médias da frequência e impacto?

5. Um ponto de melhoria seria colocar os números de medidas nos eixos x e y. Como por exemplo: O eixo y representa o impacto, então colocaremos os valores de 1 a 11, do menor impacto ao maior impacto de saída dos colaboradores. Para saber de fato qual é o mínimo e o máximo valor de impacto.

---

### **4. Visualizando os dados de maneiras diferentes**

Traremos nesse tópico outras maneiras de visualizar os dados coletados, explicando quais as vantagens e desvantagens de usar tal gráfico.

- ##### **Gráfico 1**

<center><img alt="Logo anp" width="80%" src="./img/plot2.png"></center>

Em um simples gráfico de pontos, podemos comparar em qual pesquisa se obteve mais resultado para cada razão de saída. Nos pontos azuis temos os resultados do HRBP e em laranja os resultados da pesquisa de saída dos colaboradores. Podemos perceber que em sua grande maioria as razões de mudança se mantém próximas. Agora, nas razões **Tipo de trabalho**, **Realocação** e **Falta de reconhecimento**, podemos notar uma grande diferença nos resultados das duas pesquisas. A **falta de progresso na carreira** se mantém muito próximo nas duas pesquisas.

Essa visualização tem alguns pontos de desvantagens e vantagens:

- Podemos comparar e visualizar mais facilmente qual a diferença entre as duas pesquisas realizadas.

- Se os resultados forem muito próximos, não conseguimos identificar os dois pontos, mesmo que tenham cores diferentes.

- Não temos a informação de impactos nesse gráfico.

- ##### **Gráfico 2**

<center><img alt="Logo anp" width="80%" src="./img/barras1.png"></center>

Agora fazendo a visualização em um gráfico de barras, temos a soma das razões de cada pesquisa e também temos o impacto de cada razão identificado pela cor, quanto mais forte a cor mais impactante é aquele motivo na decisão do colaborador de sair da empresa.

Alguns pontos fortes e fracos desta visualização:

- Conseguimos identificar o quão impactante é cada razão de saída dos colaboradores.

- Conseguimos visualizar e saber com exatidão qual razão de saída é maior ou menor.

- Não temos a comparação dos resultados das duas pesquisas

- ##### **Gráfico 3**

<center><img alt="Logo anp" width="80%" src="./img/barh1.png"></center>

No gráfico acima fizemos o seguinte cálculo: **frequência HRBP + frequência da pesquisa de saída * Impacto**. Com isso temos uma espécie de pontuação para cada razão de saída dos colaboradores. Feito isso já podemos observar que houve uma mudança no ranking quando comparado aos outros gráficos. Mas disparado com mais do dobro de pontos do 2° lugar, temos a **Progressão de carreira** em primeiro lugar, ou seja, a falta de incentivos por parte da empresa em oferecer um plano de carreira sólido, ou a falta de oportunidades melhores ao seus colaboradores. Também temos uma linha pontilhada mostrando a média de pontos de todas as razões de saída.

Podemos destacar alguns pontos sobre o gráfico apresentado:

- Fácil entendimento do gráfico.

- Valores em pontuação, padronizando em apenas um valor a frequência das pesquisas do HRBP e a pesquisa de saída.

- Leva em consideração do impacto para o rankeamento das razões de saída.

- Não temos valores exatos de cada pesquisa e não temos noção de qual impacto é para cada razão de saída.

- ##### **Qual visualização melhor representa os dados apresentados?**

Bom, analisando todos os gráficos acima, todos tem seus pontos fortes e fracos, um falha em algo mas o outro completa e vice-versa. Acredito que os gráficos 2 e 3, são os mais ideais para a visualização dos nosso dados, pois levam em consideração todas as váriaveis que temos, as pesquisas da **HRBP**, as **pesquisa de saída** realizados pelos colaboradores e o **impacto** que cada razão tem na decisão de escolha do colaborador sair da empresa.